.dialogLineYou {
    list-style-type: none;
    text-align: left;
    margin: 5;
    padding-left: 10;
    padding-right: 10;
    padding-top: 0.5;
    padding-bottom: 0.5;
    font-size: 16;
    font-style: italic;
    background-color: #ace;
}

.dialogLine {
    list-style-type: none;
    text-align: right;
    margin: 5;
    padding-left: 10;
    padding-right: 10;
    padding-top: 0.5;
    padding-bottom: 0.5;
    font-size: 16;
    font-style: italic;
    background-color: #ccc;
}
