.dialogLineYou {
    list-style-type: none;
    text-align: left;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    font-size: 16px;
    font-style: italic;
    background-color: #ace;
}

.dialogLine {
    list-style-type: none;
    text-align: right;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    font-size: 16px;
    font-style: italic;
    background-color: #ccc;
}
